@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[?], mode: Mode)(implicit request: Request[?], messages: Messages)

@layout(pageTitle = title(form, messages("produceApiEnterOas.title"))) {

    @formHelper(action = routes.ProduceApiEnterOasController.onSubmit(mode)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("produceApiEnterOas.heading")).asPageHeading()
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
