$govuk-include-default-font-face: false;
@import "lib/govuk-frontend/dist/govuk/base";
@import "lib/govuk-frontend/dist/govuk/components/tag";

// Non-GOV.UK Colours
$off-white: #fbfbfb;
$light-mid-grey: #ebebeb;
$grey: #bfc1c3;
$mid-blue: #005ea5;

// Colour mapping
$hip-card-border: govuk-colour("mid-grey");
$hip-card-border-dark: govuk-colour("dark-grey");
$hip-card-background: govuk-colour("light-grey");
$hip-inner-card-background: govuk-colour("white");
$hipp-card-background: $off-white;
$hipp-card-border: $light-mid-grey;
$panel-background: $off-white;
$filter-separator-color: $light-mid-grey;
$api-panel-border-color: $light-mid-grey;
$call-out-list-item-background: $light-mid-grey;
$call-out-panel-border-color: $light-mid-grey;
$focus-color: govuk-colour("yellow");
$focus-border-color: govuk-colour("black");
$warning-color: govuk-colour("orange");
$error-color: govuk-colour("red");
$ready-color: govuk-colour("green");
$search-button-background: govuk-colour("blue");
$side-nav-visited-link-color: govuk-colour("blue");
$search-button-background: govuk-colour("blue");
$support-info-details-color: govuk-colour("blue");
$search-button-text: govuk-colour("white");
$side-nav-right-border: $grey;
$side-nav-selected-color: govuk-colour("white");
$side-nav-selected-background: $mid-blue;
$side-nav-hover-color: govuk-colour("dark-blue");
$info-color: govuk-colour("purple");
$code-border: $grey;
$code-background: govuk-colour("light-grey");
$input-text-border: govuk-colour("black");
$input-text-background: govuk-colour("white");
$secondary-success-color: govuk-colour("white");
$secondary-success-background: govuk-colour("dark-grey");
$active-link-color: govuk-colour("dark-blue");

.js-visible {
    display: none !important;
}

.js-enabled .js-visible {
    display: inline-block !important;
}

.custom-bottom-padding {
    padding-bottom: 140px !important;
    padding-top: 80px !important;
}

.custom-flex-container {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    flex-wrap: wrap;
}

.hip-card-container .hip-card-container-top {
    padding: 30px;
    border-bottom: solid 1px $hip-card-border;
}

.hipp-card {
    background-color: $hipp-card-background;
    border: solid 1px $hipp-card-border;
    padding: 24px;
    width: 30%;
    min-width: 300px;
    height: 380px;
    margin-top: 16px;
}

.hip-card-header {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0;
}

.hip-inner-card {
    padding: 10px 20px;
    background-color: $hip-inner-card-background;
    border-bottom: solid 2px $hip-card-border;
    border-radius: 4px;
    border-top: solid 1px $hip-card-border;
    border-left: solid 1px $hip-card-border;
    border-right: solid 1px $hip-card-border;
    margin-top: 0;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;

    h3, p {
        margin-bottom: 0 !important;
        word-wrap: break-word;
        flex: 1;
    }

    strong {
        font-size: 14px;
    }

    .left {
        width: 65%;
        float: left;
    }

    .right {
        width: 30%;
        float: right;
        text-align: right;
    }

    .body {
        padding-top: 8px;
        padding-bottom: 4px;
        clear: both;
    }

    .hip-deleted-tag-container {
        flex: 0 0 80px;
    }
}

.hip-card-header strong {
    font-weight: 700;
    font-size: 1rem !important;
}

.hip-inner-card-title {
    display: inline-block;
}

.hip-flex-container {
    display: flex;
    justify-content: space-between;
}

.view-all-link {
    font-size: 1rem;
    display: block;
    margin-top: 12px;
}

.flex {
    display: flex;

    .align-right {
        margin-left: auto;
        align-self: center;
    }

    .align-left {
        margin-right: auto;
        align-self: center;
    }
}

.hip-text--centered {
    text-align: center;
}

.custom-second-nav {
    margin: 0;
    padding: 0;
    float: right;

    li {
        display: inline;

        a.govuk-link {
            margin-right: 30px;
        }
    }
}

.hip-nav-header-links {
    height: 20px;

    .custom-back-link {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    a.active {
        color: $active-link-color;
        text-decoration: none;
        border-bottom: 3px solid $active-link-color;
        text-decoration-thickness: 3px;
    }
}

.custom-width-notification {
    max-width: 100% !important;
    font-weight: normal !important;
    font-size: 1.2rem !important;
}

.api-panel {
    font-family: "GDS Transport", arial, sans-serif;
    min-height: 45px;
    background-color: $panel-background;
    border: solid 1px $api-panel-border-color;
    border-radius: 5px;
    padding: 12px 24px;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 0.8rem;

    .call-out-body {
        margin-top: 8px;
        padding-left: 27px;
        margin-bottom: 8px;
    }

    .call-out-list-item {
        background-color: $call-out-list-item-background;
        padding: 8px 20px;
        width: 80%;
    }

    .call-out-data-attribute {
        float: right;
        font-size: 1.05rem;
    }

    .additional-message {
        margin-top: 16px;
        font-size: 1rem !important;
        margin-bottom: 4px;
        color: #000;
    }

    .call-out-type {
        font-family: "GDS Transport", arial, sans-serif;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 1.1rem !important;
    }

    .information-tag {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .information {
        color: $info-color;
    }

    .hip-inline-list {
        margin-left: 0;
        margin-bottom: 0;
    }

    .hip-inline-list li {
        display: inline-block !important;
        margin-right: 12px;
    }

    .hip-inline-list li .govuk-tag {
        font-size: 14px;
        max-width: none;
    }

    .api-panel-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.api-panel--small {
    padding-top: 16px !important;
    p {
        font-size: 1rem;
    }
    a {
        font-size: 1rem !important;
    }
}

.call-out-panel {
    font-family: "GDS Transport", arial, sans-serif;
    min-height: 45px;
    background-color: $panel-background;
    border: solid 1px $call-out-panel-border-color;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 0.8rem;

    .call-out-body {
        margin-top: 8px;
        padding-left: 27px;
        margin-bottom: 8px;
    }

    .call-out-list-item {
        background-color: $call-out-list-item-background;
        padding: 8px 20px;
        width: 80%;
    }

    ul:not(.govuk-pagination__list) {
        margin-left: 37px;
        margin-top: 16px;
        font-size: 1rem;
        margin-bottom: 12px;
    }

    nav.govuk-pagination {
        margin-bottom: 10px;
    }

    .additional-message {
        margin-left: 37px;
        margin-top: 16px;
        font-size: 1rem !important;
        margin-bottom: 4px;
    }

    .call-out-type {
        font-family: "GDS Transport", arial, sans-serif;
        margin-bottom: 20px;
        margin-left: 14px;
        font-weight: 700;
        font-size: 1rem !important;
    }

    .information-tag {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .information {
        color: $info-color;
    }

    .warning {
        color: $warning-color;
    }

    .error {
        color: $error-color;
    }

    .call-out-flex-header {
        display: flex;
        justify-content: space-between;
    }
}

.call-out-panel__small {
    min-height: 20px !important;
    padding: 10px !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.scopes-list {
    font-size: 16px;
}

.custom-checkbox-holder {
    margin-top: 30px;
    padding: 30px 30px 10px 30px;
    background-color: $hip-card-background;
}

.side-nav {
    border-right: none;
    display: block;
    overflow: hidden;
    border-right: 1px solid $side-nav-right-border;
}

.side-nav__component {
    border: none;
    padding: 0;
    list-style-type: none;
    margin: 16px 0 0 0;
}

.side-nav__list {
    position: relative;
    list-style: none;
    font-size: 19px;
    line-height: 1.31579;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}

.side-nav__link {
    padding: 12px 30px 8px 15px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    font-family: "GDS Transport", arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: $search-button-background;

    &:hover {
        color: $side-nav-hover-color;
        text-decoration: underline;
    }

    &:focus {
        background-color: $focus-color;
        outline: 3px solid transparent;
        box-shadow: 0 -2px $focus-color, 0 4px $focus-border-color;
        text-decoration: none;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}

.side-nav__list--selected {
    .side-nav__link, &:hover .side-nav__link {
        color: $side-nav-selected-color;
        background-color: $side-nav-selected-background;
    }

    a.side-nav__link:visited, &:hover a.side-nav__link:visited {
        color: $side-nav-visited-link-color;
    }

    > .side-nav__link, &:hover > .side-nav__link {
        color: $side-nav-selected-color !important;
        background-color: $side-nav-selected-background !important;
    }
}

.code--header {
    border: 1px solid $code-border;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    background-color: $code-background;
    line-height: 1.1em;
}

.environment-block-header {
    display: flex;

    .left, .right {
        flex-grow: 1;
    }
}

.warning-colour {
    color: $warning-color;
}

.error-colour {
    color: $error-color;
}

.ready {
    color: $ready-color;
}

.customised-table {
    margin-bottom: 20px !important;

    tr:last-child td, tr:last-child th {
        border-width: 0;
    }
}

.hip-color-override {
    border-bottom: solid 1px $filter-separator-color;
}

.filters-container {
    border-right: solid 1px $filter-separator-color;
    min-height: 400px;
}

.filterSelectionCount, #resetFilters {
    font-size: 16px;
}

.hip-no-stretch {
    max-width: fit-content;
}

.stickySideMenu {
    position: sticky;
    top: 10px;
}

.gem-c-search__item-wrapper {
    display: table;
    width: 100%;
}

.gem-c-search__item {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.gem-c-search__input[type=search] {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4736842105;
    margin: 0;
    width: 100%;
    height: 2.5em;
    padding: 0.375em;
    border: 2px solid $input-text-border;
    background: $input-text-background;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-right-width: 0;
}

.gem-c-search__submit-wrapper {
    width: 1%;
}

.gem-c-search__submit {
    background-color: $search-button-background;
    color: $search-button-text;
    border: 0;
    cursor: pointer;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    text-indent: -5000px;
    overflow: hidden;

    .gem-c-search__icon {
        display: block;
        pointer-events: none;
        position: absolute;
        height: 20px;
        width: 20px;
        top: 10px;
        left: 10px;
    }
}

.apiVersionTag {
    text-transform: uppercase;
}

.apiStatusContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    strong {
        width: max-content;
    }
}

.text-overflow-ellipses {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

.govuk-panel--warning.hip-panel--secondary-success {
    color: $secondary-success-color;
    background-color: $secondary-success-background;
}

.govuk-details.hip-details--get-support {
    margin-left: 38px;
    margin-top: 20px;

    .govuk-details__summary-text {
        color: $support-info-details-color;
    }
}

.api-scopes-list-inline {
    margin: 0px;
    padding: 0px;

    li {
        display: inline;
    }

    li .govuk-tag--grey {
        margin-top: 8px;
    }

    .scope {
        font-weight: normal !important;
    }
}

.hip-app-apis, .hip-request-apis {
    .hip-details {
        border: 1px solid #d8dde0;
        border-bottom-width: 4px;
        margin-bottom: 16px;

        ::marker {
            font-size: 1.1875rem;
            line-height: 1.47368;
        }
        .hip-details__summary {
            margin-top: 4px;
            padding: 20px 24px 24px;
            color: #005eb8;
            cursor: pointer;
        }
        .hip-details__summary-text {
            color: #005eb8;
            cursor: pointer;
            display: inline-block;
            text-decoration: underline;
        }
        .hip-details__text {
            margin-top: 8px;
            padding: 16px 16px 16px 20px;
        }
        .hip-details__terms {
            padding: 0 16px 16px 16px;
        }
        .hip-details__summary-info {
            float: right;
            margin-top: 6px;
        }

        @media (min-width: 40.0625em) {
            .hip-expander .hip-details__text {
                padding: 0 24px 24px;
            }
        }
    }
}

nav.hip-pagination--centered {
    display: flex;
    justify-content: center;
}

.hip-tag--scope {
    @extend .govuk-tag;
    @extend .govuk-tag--grey;
    text-transform: none !important;
    max-width: none;
}

.hip-tag  {
    @extend .govuk-tag;
    @extend .govuk-tag--grey;
    font-size: 1rem;
    white-space: nowrap;
    max-width: none;
    height: fit-content;
}

.hip-tag--platform__self-serve {
    @extend .hip-tag;
    @extend .govuk-tag--green;
}

.hip-tag--api-status {
    @extend .hip-tag;
    text-transform: capitalize;

    &[data-status="ALPHA" i] {
        @extend .govuk-tag--light-blue;
    }

    &[data-status="BETA" i] {
        @extend .govuk-tag--blue;
    }

    &[data-status="LIVE" i] {
        @extend .govuk-tag--green;
    }

    &[data-status="DEPRECATED" i] {
        @extend .govuk-tag--grey;
    }
}

.hip-platform-filters {
    .govuk-tag, .govuk-hint {
        font-size: 1rem;
    }
    summary {
        display: none;
    }
}

header {
    @media (min-width: 48.0625em) {
        .govuk-header__logo {
            width: 25%;
        }
        .govuk-header__content {
            width: 75%;
        }
    }

    .hip-header__signed-in {
        line-height: 2;
        .small-tag {
            font-size: 0.6rem !important;
        }
    }
}

.hip-summary-list__compact {
    .govuk-summary-list__key, .govuk-summary-list__value {
        padding-bottom: 0;
    }
}

.autocomplete__wrapper svg {
    // added this to fix a bug in accessible-autocomplete component where drop-down arrow was not being displayed when showAllValues is set to true
    z-index: 1;
}
.autocomplete__option {
    @include govuk-font($size: 19);
}
#deepSearch .govuk-hint {
    font-size: 1rem;
}

.hip-api-info__summary, .hip-api-info__description {
    pre {
        overflow-x: scroll;
        scrollbar-width: thin;
    }
}

.hip-access-request-panel {
    .hip-access-request-name-status {
        display: flex;
        align-items: flex-start;
        gap: 5px;
    }
}