$govuk-include-default-font-face: false;
@import "lib/govuk-frontend/dist/govuk/base";
@import "lib/govuk-frontend/dist/govuk/components/tag";
@import "lib/govuk-frontend/dist/govuk/core";
@import "lib/govuk-frontend/dist/govuk/utilities/visually-hidden";

// Non-GOV.UK Colours
$off-white: #fbfbfb;
$light-mid-grey: #ebebeb;
$grey: #bfc1c3;
$mid-blue: #005ea5;

// Colour mapping
$hip-card-border: govuk-colour("mid-grey");
$hip-card-border-dark: govuk-colour("dark-grey");
$hip-card-background: govuk-colour("light-grey");
$hip-inner-card-background: govuk-colour("white");
$hip-signin-card-background: $off-white;
$hip-signin-card-border: $light-mid-grey;
$panel-background: $off-white;
$filter-separator-color: $light-mid-grey;
$api-panel-border-color: $light-mid-grey;
$call-out-list-item-background: $light-mid-grey;
$call-out-panel-border-color: $light-mid-grey;
$focus-color: govuk-colour("yellow");
$focus-border-color: govuk-colour("black");
$warning-color: govuk-colour("orange");
$error-color: govuk-colour("red");
$ready-color: govuk-colour("green");
$search-button-background: govuk-colour("blue");
$side-nav-visited-link-color: govuk-colour("blue");
$search-button-background: govuk-colour("blue");
$support-info-details-color: govuk-colour("blue");
$search-button-text: govuk-colour("white");
$side-nav-right-border: $grey;
$side-nav-selected-color: govuk-colour("white");
$side-nav-selected-background: $mid-blue;
$side-nav-hover-color: govuk-colour("dark-blue");
$info-color: govuk-colour("purple");
$code-border: $grey;
$code-background: govuk-colour("light-grey");
$input-text-border: govuk-colour("black");
$input-text-background: govuk-colour("white");
$secondary-success-color: govuk-colour("white");
$secondary-success-background: govuk-colour("dark-grey");
$active-link-color: govuk-colour("dark-blue");

$border-radius-size: 4px;

body, input {
    font-family: $govuk-font-family ! important;
}

.hip-signin-container {
    padding-top: 80px !important;
    padding-bottom: 140px !important;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    flex-wrap: wrap;

    .hip-signin-card {
        background-color: $hip-signin-card-background;
        border: solid 1px $hip-signin-card-border;
        padding: govuk-spacing(5);
        width: 30%;
        min-width: 300px;
        height: 380px;
        margin-top: govuk-spacing(3);
    }
}

.hip-inner-card {
    padding: govuk-spacing(2) govuk-spacing(4);
    background-color: $hip-inner-card-background;
    border-bottom: solid 2px $hip-card-border;
    border-radius: $border-radius-size;
    border-top: solid 1px $hip-card-border;
    border-left: solid 1px $hip-card-border;
    border-right: solid 1px $hip-card-border;
    margin-top: 0;
    margin-bottom: govuk-spacing(2);
    display: flex;
    flex-wrap: wrap;

    h3, p {
        margin-bottom: 0 !important;
        word-wrap: break-word;
        flex: 1;
    }

    strong {
        @include govuk-font($size: 16, $weight: bold);
    }

    .left {
        flex-grow: 2;
    }

    .right {
        flex-grow: 1;
        text-align: right;
    }

    .hip-deleted-tag-container {
        flex: 0 0 80px;
    }
}

.hip-inner-card-title {
    display: inline-block;
}

.hip-flex-container {
    display: flex;
    justify-content: space-between;
}

.view-all-link {
    @include govuk-font($size: 16);
    display: block;
    margin-top: govuk-spacing(2);
}

.flex {
    display: flex;

    .align-right {
        margin-left: auto;
        align-self: center;
    }

    .align-left {
        margin-right: auto;
        align-self: center;
    }
}

.hip-text--centered {
    text-align: center;
}

.hip-nav-header-links {
    .custom-second-nav {
        margin: 0;
        padding: 0;
        float: right;

        li {
            display: inline;

            a.govuk-link {
                margin-right: govuk-spacing(6);
            }
        }
    }

    height: govuk-spacing(4);

    .custom-back-link {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    a.active {
        color: $active-link-color;
        text-decoration: none;
        border-bottom: 3px solid $active-link-color;
        text-decoration-thickness: 3px;
    }
}

.api-panel {
    min-height: govuk-spacing(9);
    background-color: $panel-background;
    border: solid 1px $api-panel-border-color;
    border-radius: $border-radius-size;
    padding: govuk-spacing(3) govuk-spacing(5);
    margin-top: govuk-spacing(4);
    margin-bottom: govuk-spacing(3);
    @include govuk-font($size: 16);

    .additional-message {
        margin-top: govuk-spacing(2);
        margin-bottom: govuk-spacing(2);
        @include govuk-font($size: 16);
    }

    .call-out-type {
        margin-bottom: govuk-spacing(4);
        @include govuk-font($size: 16, $weight: bold);
    }

    .information {
        color: $info-color;
    }

    .hip-inline-list {
        margin-left: 0;
        margin-bottom: 0;
    }

    .hip-inline-list li {
        display: inline-block !important;
        margin-right: govuk-spacing(2);
    }

    .hip-inline-list li .govuk-tag {
        @include govuk-font($size: 14);
        max-width: none;
    }

    .api-panel-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.api-panel--small {
    padding-top: govuk-spacing(3) !important;
    p.govuk-body, a.govuk-link {
        @include govuk-font($size: 16);
    }
}

.call-out-panel {
    min-height: govuk-spacing(9);
    background-color: $panel-background;
    border: solid 1px $call-out-panel-border-color;
    border-radius: $border-radius-size;
    padding: govuk-spacing(4);
    margin-top: govuk-spacing(4);
    margin-bottom: govuk-spacing(8);

    .call-out-list-item {
        background-color: $call-out-list-item-background;
        padding: govuk-spacing(2) govuk-spacing(4);
        width: 80%;
    }

    ul:not(.govuk-pagination__list) {
        @include govuk-font($size: 16);
        margin-left: govuk-spacing(7);
        margin-top: govuk-spacing(3);
        margin-bottom: govuk-spacing(2);
    }

    nav.govuk-pagination {
        margin-bottom: govuk-spacing(2);
    }

    .additional-message {
        margin-left: govuk-spacing(7);
        margin-top: govuk-spacing(3);
        margin-bottom: govuk-spacing(1);
        &.govuk-body {
            @include govuk-font($size: 16);
        }
    }

    span.call-out-type {
        margin-bottom: govuk-spacing(4);
        margin-left: govuk-spacing(3);
        @include govuk-font($size: 16, $weight: bold);
    }

    .information-tag {
        margin-bottom: 0;
    }

    .information {
        color: $info-color;
    }

    .warning {
        color: $warning-color;
    }

    .error {
        color: $error-color;
    }

    .call-out-flex-header {
        display: flex;
        justify-content: space-between;
    }
}

.call-out-panel__small {
    min-height: govuk-spacing(4) !important;
    padding: govuk-spacing(2) !important;
    margin-top: 0 !important;
    margin-bottom: govuk-spacing(4) !important;
}

.custom-checkbox-holder {
    margin-top: govuk-spacing(6);
    padding: govuk-spacing(6) govuk-spacing(6) govuk-spacing(2) govuk-spacing(6);
    background-color: $hip-card-background;
}

.side-nav {
    border-right: none;
    display: block;
    overflow: hidden;
    border-right: 1px solid $side-nav-right-border;
}

.side-nav__component {
    border: none;
    padding: 0;
    list-style-type: none;
    margin: govuk-spacing(3) 0 0 0;
}

.side-nav__text {
    padding: govuk-spacing(3) govuk-spacing(6) govuk-spacing(2) govuk-spacing(3);
    text-decoration: none;
    display: block;
    @include govuk-font($size: 16);
    color: govuk-colour("black");
}

.side-nav__link {
    padding: govuk-spacing(3) govuk-spacing(6) govuk-spacing(2) govuk-spacing(3);
    text-decoration: none;
    display: block;
    @include govuk-font($size: 16);
    color: $search-button-background;

    &:hover {
        color: $side-nav-hover-color;
        text-decoration: underline;
    }

    &:focus {
        background-color: $focus-color;
        outline: 3px solid transparent;
        box-shadow: 0 -2px $focus-color, 0 4px $focus-border-color;
        text-decoration: none;
    }
}

.side-nav__list--selected {
    > .side-nav__link, &:hover > .side-nav__link {
        color: $side-nav-selected-color;
        background-color: $side-nav-selected-background;
    }

    a.side-nav__link:visited, &:hover a.side-nav__link:visited {
        color: $side-nav-visited-link-color;
    }

    > .side-nav__link, &:hover > .side-nav__link {
        color: $side-nav-selected-color !important;
        background-color: $side-nav-selected-background !important;
    }
}

.code--header {
    border: 1px solid $code-border;
    border-radius: $border-radius-size;
    padding: govuk-spacing(1);
    @include govuk-font-size($size: 16);
    line-height: 1.1em;
    display: inline-block;
    background-color: $code-background;
    word-break: break-word;
}

.hip-example-config .code--header {
    @include govuk-typography-weight-bold();
    margin-bottom: govuk-spacing(4);
}

.environment-block-header {
    display: flex;

    .left, .right {
        flex-grow: 1;
    }
}

.warning-colour {
    color: $warning-color;
}

.error-colour {
    color: $error-color;
}

.ready {
    color: $ready-color;
}

.hip-color-override {
    border-bottom: solid 1px $filter-separator-color;
}

.hip-filters-container {
    border-right: solid 1px $filter-separator-color;
    min-height: 400px;
}

.hip-filter-selection-count {
    @include govuk-font($size: 16);
}

.hip-no-stretch {
    max-width: fit-content;
}

.hip-sticky-side-menu {
    position: sticky;
    top: govuk-spacing(2);
}

.gem-c-search__item-wrapper {
    display: table;
    width: 100%;
}

.gem-c-search__item {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.gem-c-search__input[type=search] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include govuk-font($size: 16);
    margin: 0;
    width: 100%;
    height: govuk-spacing(7);
    padding: govuk-spacing(1);
    border: 2px solid $input-text-border;
    background: $input-text-background;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-right-width: 0;
}

.gem-c-search__submit-wrapper {
    width: 1%;
}

table.govuk-table {
    &.scrollable {
        display: block;
        overflow: auto;
        // nice to have a wider table on wider screens
        @media only screen and (min-width: 1700px) {
            width: 150%;
        }
    }
}

.gem-c-search__submit {
    background-color: $search-button-background;
    color: $search-button-text;
    border: 0;
    cursor: pointer;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: 0;
    position: relative;
    padding: 0;
    width: govuk-spacing(7);
    height: govuk-spacing(7);
    text-indent: -5000px;
    overflow: hidden;

    .gem-c-search__icon {
        display: block;
        pointer-events: none;
        position: absolute;
        height: govuk-spacing(4);
        width: govuk-spacing(4);
        top: govuk-spacing(2);
        left: govuk-spacing(2);
    }
}

.apiVersionTag {
    text-transform: uppercase;
}

.apiStatusContainer {
    display: flex;
    flex-direction: column;
    gap: govuk-spacing(3);

    strong {
        width: max-content;
    }
}

.text-overflow-ellipses {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

.govuk-panel--warning.hip-panel--secondary-success {
    color: $secondary-success-color;
    background-color: $secondary-success-background;
}

.govuk-details.hip-details--get-support {
    margin-left: govuk-spacing(7);
    margin-top: govuk-spacing(4);

    .govuk-details__summary-text {
        color: $support-info-details-color;
    }
}

.api-scopes-list-inline {
    margin: 0 0 govuk-spacing(2) 0;
    padding: 0 0 govuk-spacing(4) 0;

    li {
        display: inline;
    }

    li .govuk-tag--grey {
        margin-top: govuk-spacing(1);
    }

    .scope {
        font-weight: normal !important;
    }

    border-bottom: 1px solid $govuk-border-colour;
}

.hip-app-apis, .hip-request-apis {
    .hip-details {
        border: 1px solid $hip-card-border;
        border-bottom-width: govuk-spacing(1);
        margin-bottom: govuk-spacing(3);

        ::marker {
            @include govuk-font($size: 19);
        }
        .hip-details__summary {
            margin-top: govuk-spacing(1);
            padding: govuk-spacing(4) govuk-spacing(5) govuk-spacing(5);
            color: $mid-blue;
            cursor: pointer;
        }
        .hip-details__summary-text {
            color: $mid-blue;
            cursor: pointer;
            display: inline-block;
            text-decoration: underline;
        }
        .hip-details__text {
            margin-top: govuk-spacing(2);
            padding: govuk-spacing(3) govuk-spacing(3) govuk-spacing(3) govuk-spacing(4);
        }
        .hip-details__terms {
            padding: 0 govuk-spacing(3) govuk-spacing(3) govuk-spacing(3);
        }
        .hip-details__summary-info {
            float: right;
            margin-top: govuk-spacing(1);
        }

        @media (min-width: 40.0625em) {
            .hip-expander .hip-details__text {
                padding: 0 govuk-spacing(5) govuk-spacing(5);
            }
        }
    }
}

nav.hip-pagination--centered {
    display: flex;
    justify-content: center;
}

.hip-tag--scope {
    @extend .govuk-tag;
    @extend .govuk-tag--grey;
    text-transform: none !important;
    max-width: none;
}

.hip-tag  {
    @extend .govuk-tag;
    @extend .govuk-tag--grey;
    @include govuk-font($size: 16);
    white-space: nowrap;
    max-width: none;
    height: fit-content;
}

.hip-tag--platform__self-serve {
    @extend .hip-tag;
    @extend .govuk-tag--green;
}

.hip-tag--api-status {
    @extend .hip-tag;
    text-transform: capitalize;

    &[data-status="ALPHA" i] {
        @extend .govuk-tag--light-blue;
    }

    &[data-status="BETA" i] {
        @extend .govuk-tag--blue;
    }

    &[data-status="LIVE" i] {
        @extend .govuk-tag--green;
    }

    &[data-status="DEPRECATED" i] {
        @extend .govuk-tag--grey;
    }
}

.hip-platform-filters {
    .govuk-tag, .govuk-hint {
        @include govuk-font($size: 16);
    }
    summary {
        display: none;
    }
}

header {
    @media (min-width: 48.0625em) {
        .govuk-header__logo {
            width: 25%;
        }
        .govuk-header__content {
            width: 75%;
        }
    }

    .hip-header__signed-in {
        line-height: 2;
        .small-tag {
            font-size: 0.6rem !important;
        }
    }
}

.hip-summary-list__compact {
    .govuk-summary-list__key, .govuk-summary-list__value {
        padding-bottom: 0;
    }
}

.hip-summary-list--wide-values {
    .govuk-summary-list__row {
        display: flex;
        flex-direction: row;
        gap: govuk-spacing(3);
    }
    .govuk-summary-list__key {
        flex: 0 0 15%;
    }
    .govuk-summary-list__value {
        flex: 1 1 75%;
        li {
            display: flex;
            align-items: center;
        }
        code {
            margin-top: 0 ! important;
        }
    }
    .govuk-summary-list__actions {
        flex: 0 1 10%;
    }
    .govuk-list--bullet {
        list-style-type: none;
        padding-left: 0;
    }
}

.govuk-summary-list {
    &.no-table-layout {
        table-layout: unset;
    }
}

.autocomplete__wrapper svg {
    // added this to fix a bug in accessible-autocomplete component where drop-down arrow was not being displayed when showAllValues is set to true
    z-index: 1;
}

.autocomplete__option {
    @include govuk-font($size: 19);
}

#deepSearch .govuk-hint {
    @include govuk-font($size: 16);
}

.hip-api-info__summary, .hip-api-info__description {
    pre {
        overflow-x: scroll;
        scrollbar-width: thin;
    }
}

.hip-access-request-panel {
    .hip-access-request-name-status {
        display: flex;
        align-items: flex-start;
        gap: govuk-spacing(1);
    }
}

.hip-expander__error {
    border-color: $error-color !important;
}

.hip-ace-editor {
    height: 600px;
    width: 100%;
}

.hip-feedback-button {
    position: fixed;
    top: 50%;
    right: govuk-spacing(-6);
    transform: translateY(-50%) rotate(-90deg);
    background-color: $mid-blue;
    color: $off-white !important;
    padding: govuk-spacing(3);
    @include govuk-font($size: 16, $weight: bold);
    border: none;
}

.hip-related-content {
    color: govuk-colour("black");
    border-top: 2px solid govuk-colour("blue");
    margin-bottom: govuk-spacing(9);

    h2 {
        margin-top: govuk-spacing(3);
        margin-bottom: govuk-spacing(2);
    }

    ul {
        padding: 0;
        list-style: none;
        margin-bottom: govuk-spacing(4);
    }

    li {
        margin-bottom: govuk-spacing(3);
    }
}

.hip-warning-text {
    display: inline-block;
    padding: govuk-spacing(4) govuk-spacing(7) govuk-spacing(4) govuk-spacing(4);
    border: 1px solid $light-mid-grey;
    border-radius: $border-radius-size;
    background-color: $off-white;

    .govuk-warning-text__icon {
        margin-left: govuk-spacing(3);
    }

    .govuk-warning-text__text {
        padding-left: govuk-spacing(5);
    }

    .hip-warning-list {
        padding-left: govuk-spacing(5);
        li {
            margin-top: govuk-spacing(1);
            padding: govuk-spacing(2) govuk-spacing(2) govuk-spacing(2) govuk-spacing(4);
            @include govuk-font($size: 16);
            background-color: $light-mid-grey;
            border-color: $govuk-border-colour;
            list-style: none;
            border-radius: 2px;
        }
    }
}

.hip-stat-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .hip-stat-item {
        background-color: $off-white;
        border: 1px solid $light-mid-grey;
        border-radius: $border-radius-size;
        padding: govuk-spacing(3);
        min-width: 120px;
        text-align: center;

        .hip-stat-title {
            display: block;
            @include govuk-font($size: 14);
            margin-bottom: govuk-spacing(2);
        }

        .hip-stat-value {
            min-height: govuk-spacing(6);
            display: block;
            @include govuk-font($size: 24, $weight: bold);
            color: $input-text-border;
        }

        .hip-stat-value a {
            @extend .govuk-link;
            @include govuk-font($size: 16);
            cursor: pointer;
        }

        .govuk-button.hip-stats-button {
            @include govuk-font($size: 16);
            margin: govuk-spacing(3);
        }
    }
}

.hip-checkboxes-inline {
    display: flex;
    flex-wrap: wrap;

    .govuk-checkboxes__item {
        margin-right: govuk-spacing(4);
        margin-bottom: govuk-spacing(2);
    }
}

#viewSearchHint {
    margin-top: govuk-spacing(-1);
    margin-bottom: govuk-spacing(2);
    summary {
        @include govuk-font($size: 16);
    }
}

.hip-details--headed-paragraphs {
    h3 {
        @extend .govuk-heading-s;
        margin-bottom: govuk-spacing(1) !important;
    }
    p {
        @extend .govuk-body;
    }
}

.hip-checkbox-with-details {
    .govuk-form-group {
        margin-bottom: govuk-spacing(1);
    }
    details {
        margin-left: govuk-spacing(9);
    }
}

.hip-api-panel--fake {
    padding-bottom: 0;

    .govuk-link, strong, p {
        display: block;
        height: govuk-spacing(4);
        background-color: govuk-tint(govuk-colour("mid-grey"), 70);
    }
    .hip-dummy-content--narrow {
        width: 20%;
    }
    .hip-dummy-content--medium {
        width: 50%;
    }
    .hip-dummy-content--wide {
        width: 75%;
    }
}

.hip-api-panel--preview {
    span.govuk-link {
        color: govuk-colour("blue");
        cursor: pointer;
    }
}

.hip-js-link {
    @extend .govuk-link;
    color: govuk-colour("blue");
    cursor: pointer;
}

.hip-summary-list__row--no-border {
    border-bottom: none;
    dt, dd {
        padding-bottom: 0;
    }
}
.govuk-summary-list__value ul {
    margin-top: 0;
    margin-bottom: govuk-spacing(2);
}
.hip-file-drop {
    border: 2px dashed govuk-colour("blue");
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: govuk-spacing(4);
    padding: govuk-spacing(8) 0;
    border-radius: $border-radius-size;

    * {
        /* Needed to stop dragenter/leave events being triggered whenever we drag over one of the child elements */
        pointer-events: none;
    }
    label {
        pointer-events: auto;
    }

    h6.hip-file-drop__text--hover {
        display: none;
    }

    &.hovering {
        border-width: 3px;
        margin: -1px;

        h6.hip-file-drop__text--hover {
            display: block;
        }
        h6.hip-file-drop__text {
            display: none;
        }
    }

    .hip-file-drop__icon {
        @include govuk-font-size($size: 36);
        color: govuk-colour("blue");
        margin: 0;
    }

    h6 {
        @include govuk-font-size($size: 19);
        margin: 0;
    }

    p.hip-file-drop__text {
        margin: 0;
    }

    label {
        display: inline-block;
        @include govuk-font-size($size: 16);
        cursor: pointer;
        padding: govuk-spacing(2) govuk-spacing(6);
        background-color: govuk-colour("blue");
        color: govuk-colour("white");
        border-radius: $border-radius-size;

        input {
            @extend .govuk-visually-hidden;
        }
    }
}

.hip-config-test {
    .hip-inline-label {
        line-height: 2.5rem;
        width: 10rem;
    }
    .govuk-form-group {
        display: flex;
        margin-bottom: 1rem;
        fieldset {
            display: flex;
            flex-direction: row;
            legend {
                float: left;
            }
        }
        #scopeClientId {
            max-width: 25rem;
        }
    }
    textarea {
        font-family: monospace;
        font-size: 1rem;
    }
}

.hip-change-link {
    @extend .govuk-link;
    @extend .govuk-link--no-visited-state;
    font-size: 1rem;
}