#swagger-editor, #ace-editor, #monaco-editor {
    position: relative;
    height: 600px;
}
.swagger-editor-standalone .topbar {
    display: none;
}
#swagger-editor .Pane {
    overflow-y: scroll;
}
#swagger-editor .Pane2 {
    display: none;
}
.aceErrorHighlight {
    background-color: rgba(255, 0, 0, 0.5);
    position:absolute;
    z-index:20
}
.monacoErrorHighlight {
    background-color: rgba(255, 0, 0, 0.5);
    position:absolute;
}

#codemirror-editor {
    height: 500px;
    width: 100%;
}

/* Stretch editor to fit inside its containing div */
.cm-editor {
    height: 100%;
    width: 100%;
}